<!DOCTYPE html>
<html lang="en">

<head>
	<% include ./partials/head %>
		<link rel="stylesheet" type="text/css" href="/css/profile.css">
</head>

<body>

	<div class="container">
		<div class="row">
			<div class="column">
				<div class="top_button">
					<a href="/" title="">Home</a>
				</div>
			</div>
		</div>

		<!--Header-->
		<% include ./partials/header %>

			<!--Main Content-->
			<div class="row">
				<div class="column">
					<h4>Account Information</h4>
					<p id="user_info" class="edit_button loading">Edit</p>
					<ul>
						<li>
							<p>Name:
								<span id="name"><%= user.name %></span></p>
							</p>
							<div class="form-group name_edit">
								<input id="new_name" name="name" type="text" required="required" min="0" max="100000" />
								<label class="control-label" for="input">name</label><i class="bar"></i>
							</div>
						</li>
						<li>
							<p>Email:
								<span id="email"><%= user.email %></span></p>
							</p>
							<div class="form-group email_edit">
								<input id="new_email" name="email" type="text" required="required" min="0" max="100000" />
								<label class="control-label" for="input">email</label><i class="bar"></i>
							</div>
						</li>
						<li>
							<p>Username:
								<span id="username"><%= user.username %></span></p>
							</p>
							<div class="form-group username_edit">
								<input id="new_username" name="username" type="text" required="required" min="0" max="100000" />
								<label class="control-label" for="input">username</label><i class="bar"></i>
							</div>
						</li>
						<li>
							<p>Password:
								<%= user.password %>
							</p>
						</li>
					</ul>
				</div>
				<div class="column">
					<h4>App Information</h4>
					<p id="app_info" class="edit_button loading">Edit</p>
					<ul>
						<li>
							<p>Zip Code: <span id="zip"><%= user.zip %></span></p>
							<div class="form-group zip_edit">
								<input id="new_zip" name="zip" type="number" required="required" min="0" max="100000" />
								<label class="control-label" for="input">zip code</label><i class="bar"></i>
							</div>
						</li>
					</ul>
					<h4>Generated Information</h4>
					<ul>
						<li>
							<p>City: <span id="city"><%= user.city %></span></p>
						</li>
						<li>
							<p>Coordinates: <span id="coordinates">(<%= user.lat %>,<%= user.long %>)</span></p>
						</li>

					</ul>
				</div>
			</div>
			<!--End of Main Content-->
	</div>
	<script src="/js/profile.js" type="text/javascript"></script>
</body>

</html>